@font-face {
  font-family: 'Recursive';
  font-style: oblique 0deg 15deg;
  font-weight: 300 1000;
  font-display: swap;
  src: url('./../fonts/Recursive_VF_1.054--subset_range_english_basic.woff2') format('woff2');
  unicode-range: U+0020-007F,U+00A9,U+2190-2193,U+2018,U+2019,U+201C,U+201D,U+2022;
}
:root {
  --mono: "MONO" 0;
  --casl: "CASL" 0;
  --wght: "wght" 256;
  --slnt: "slnt" 0;
  --ital: "ital" 0.5;
  font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt), var(--ital);
}